#!/usr/bin/env bash

set -eu

# Create collection for target, if it doesn't already exist
imkdir -p "{{ target.address | dirname | sh_escape }}"

# Copy source file to target data object
iput -fKN3 \
     "{{ source.address | sh_escape }}" \
     "{{ target.address | sh_escape }}"
